$main-color: #9F0013;
$dark: #232222;
$grey: #5C5C5C;



$white : #FFFFFF;
$black : #000000;
$primary : #9F0013;
$bgColor : #232222;
$btnBgColor : #5C5C5C;


$br : 90px;
$brs : 4px;

$tablet: 1024px;
$mobileL: 768px;
$mobileM: 576px;
$mobileS: 480px;
$mobileXS: 320px;